body{
	color: $dark;
	font-size: $font_size;
	font-family: $font_family;
	font-weight: $font-weight;
	background: $bg_color;
	backdrop-filter: blur(384.02px)
}

.container{
	width: 100%;
	max-width: $xl;
	margin: 0 auto;
	padding: 0 20px;
}

.hidden{
	overflow: hidden;
}