
$xl: 1160px;
$lg: 970px;
$md: 730px;
$sm: 550px;
$xs: 320px;

$font_size: 18px;
$font_family: 'Monrope';
$font-weight:'400';



$white: #ffffff;
$gray:#5A5A5A;
$black: #000000;
$dark: #050505;
$bg_color: rgba(255, 255, 255, 0.507);
$brand_color:#014DF5;