<template>
  <div class="main">
    <Content/>
    <Prices/>
    <Crads/>
    <Forms/>
    <Product/>
    <TextContent/>
  </div>
</template>

<script>
import Content from '../components/Content.vue'
import Prices from '../components/Prices.vue'
import Crads from '../components/Crads.vue'
import Forms from '../components/Items.vue'
import Product from '../components/Product.vue'
import TextContent from '../components/TextContent.vue'
export default {
  components:{ Content, Prices, Crads, Forms, Product, TextContent }
}
</script>

<style>

</style>