// Monrope
@font-face{
	font-family: 'Monrope';
	src: url(./fonts/Montserrat/regular.ttf);
  font-weight: 500;
}
@font-face{
	font-family: 'Monrope-800';
	src: url(./fonts/Montserrat/extrabold.ttf);
  font-weight: 800;
}
@font-face{
	font-family: 'Monrope-700';
	src: url(./fonts/Montserrat/bold.ttf);
  font-weight: 800;
}


