@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';
.auto{
  .container{
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      

      // Media
      @include lg {
        flex-wrap: wrap;
      }

      .text-content {
        width: 100%;
        max-width: 635px;

        // Media
        @include lg {
          order: 1;
        }

        .subtitle {
          font-size: 24px;
          color: $gray;
          font-family: 'Monrope';
          padding: 20px 0 50px;

          // Media
          @include lg {
            font-size: 20px;
            padding: 20px 0 50px;
          }

          @include sm {
            padding: 17px 0 20px;
          }
        }

        .btns {
          margin-bottom: 20px;
        }
      }

      .images {

        // Media
        @include lg {
          display: none;
        }

        @include md {
          display: block;
          margin: 0 auto;
        }

        img {
          width: 516px;
          height: 455px;

          @include sm {
            width: 320px;
            height: 280.21px;
          }
        }
      }
    }
    .card-wrapper{
      padding: 40px 0 90px;
      gap: 22px 22px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}