@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';

.container{
  .subtitle{
    font-size: 18px;
    color: $gray;
    margin: 10px 0 40px;
    // Media
    @include lg{
      font-size: 15px;
    }
  }
  
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 50px;
    @include md{
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .item{
      display: flex;
      align-items: center;
      gap: 25px;
      // Media
      @include lg{
        gap: 10px;
      }
      
      
      i{
        font-size: 30px;
        color: $brand_color;
        // Media
        @include lg{
          font-size: 20px;
        }
      }
      
      .item-title{
        font-size: 19px;
        font-family: 'Monrope-800';
        // Media
        @include lg{
          font-size: 14px;
        }
      }
    }
  }
  
  .map{
    width: 100%;
    height: 500px;
    
    margin: 70px 0px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(233, 226, 226, 0.781);
    // Media
    @include lg{
      height: 300px;
    }
    
    iframe{
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}