@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';

.container {
  .subtitle {
    font-size: 24px;
    color: $gray;
    margin: 15px 0 40px;

    // Media
    @include lg {
      font-size: 18px;
    }
    @include sm {
      font-size: 14px;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    gap: 13px;
    // Media
    @include sm{
      justify-content: center;
      flex-wrap: wrap;
    }
    .btn-icon{
      display: flex;
      align-items: center;
      gap: 10px;
      .btn-sub {
        font-size: 20px;
        color: $gray;
  
        // Media
        @include lg {
          font-size: 18px;
        }
        @include sm {
          font-size: 15px;
        }
      }
  
      i {
        font-size: 25px;
        color: $gray;
  
        // Media
        @include lg {
          font-size: 18px;
        }
        // @include sm {
        //   font-size: 18px;
        // }
      }
    }
   
  }

  .wrapper {
    margin: 40px 0;

    // Media
    @include md {
      margin: 20px 0;
    }

    .item-wrap {
      padding: 40px;
      background: #F5F7FE;
      border-radius: 10px;
      margin-bottom: 30px;
      // Media
      @include md{
        padding: 20px;
      }

      .top-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Monrope-800';

        .title {
          font-size: 40px;

          // Media
          @include lg {
            font-size: 30px;
          }
          @include md {
            font-size: 20px;
          }
          @include media(375px){
            font-size: 15px;
          }
        }

        .price {
          font-size: 30px;
          color: $brand_color;

          @include lg {
            font-size: 20px;
          }
          @include md {
            font-size: 15px;
          }
          @include media(375px){
            font-size: 13px;
          }
        }
      }

      .item-btns {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
        // Media
        @include md{
          padding: 10px 0;
        }
      }

      .item-subtitle {
        font-size: 18px;
        line-height: 23px;
        color: $gray;

        // Media
        @include lg {
          font-size: 15px;
        }
        @include md {
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
  }
}