@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';

.news{
  .container{
    .wrapper{
      display: flex;
      flex-wrap: wrap;
      gap: 28px 20px;
      padding: 40px 0;
      
      @include xl{
        justify-content: center;
        align-items: center;
      }
    }
  }
}