@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';

.price {
  padding: 40px 0;

  // Media
  @include md {
    padding: 10px 0;
  }

  .container {
    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      // Media
      @include lg {
        flex-wrap: wrap;
      }

      .text-content {
        width: 100%;
        max-width: 635px;

        // Media
        @include lg {
          order: 1;
        }

        .subtitle {
          font-size: 24px;
          color: $gray;
          font-family: 'Monrope';
          padding: 40px 0 100px;

          // Media
          @include lg {
            font-size: 20px;
            padding: 20px 0 50px;
          }

          @include sm {
            font-size: 15px;
            padding: 17px 0 33px;
          }
        }

        .btns {
          display: flex;
          align-items: center;
          gap: 10px;

          // Media
          @include md {
            justify-content: center;
          }
        }
      }

      .images {

        // Media
        @include lg {
          display: none;
        }

        @include md {
          display: block;
          margin: 0 auto;
        }

        img {
          width: 455.26px;
          height: 480px;

          @include sm {
            width: 275px;
            height: 295.21px;
          }
        }
      }
    }

    .item {
      display: flex;
      gap: 35px;
      justify-content: space-between;
      padding-top: 30px;
      // Media
      @include lg{
        flex-wrap: wrap;
        
      }
      @include sm{
        justify-content: center;
      }
      .cards{
        
        .card {
          padding: 20px;
          background: #E6EDFE;
          max-width: 360px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-radius: 10px;
          margin-bottom: 10px;
          
          
  
          &.active {
            ul {
              display: flex;
              flex-direction: column;
              margin-top: 20px;
              // transform: translateY(0px);
              border-bottom: 1px solid $gray;
              transition: 0.5s;
  
            }
  
            .top-box {
              i {
                color: $brand_color;
              }
            }
  
          }
  
          .top-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 60px;
  
            font-size: 16px;
  
            .title {
              font-size: 16px;
            }
            
            i{
              transition: 0.5s;
            }
          }
  
          ul {
            display: none;
            
  
  
            .text {
              font-size: 14px;
              color: $gray;
              margin-bottom: 10px;
  
            }
          }
        }
      }
      .item-box{
        width: 100%;
        max-width: 740px;
        background: #E6EDFE;
        padding: 20px 15px;
        border-radius: 10px;
        // Media
        
        
        .text{
          display: flex;
          padding-left: 15px;
          gap: 20px;
          
          .text-title{
            font-size: 16px;
            margin-bottom: 15px;
            // media
            @include md{
              font-size: 12px;
            }
            
            &:nth-child(1){
              padding-right: 205px;
              // media
              @include md{
                padding-right: 120px;
              }
              @include sm{
                padding-right: 101px;
              }
              @include media(320px){
                padding-right: 75px;
              }
            }
            &:nth-child(2){
              padding-right: 80px;
              @include sm{
                padding-right: 0px;
              }
            }
          }
        }
        
        .box-card{
          display: flex;
          background: $white;
          padding: 25px 20px;
          border-radius: 15px;
          gap: 25px;
          // Media
          @include md{
            padding: 15px 10px;
          }
          &:nth-child(3){
            background: none;
          }
          &:nth-child(5){
            background: none;
          }
          
          .box-title{
            font-size: 15px;
            padding-right: 70px;
            @include md{
              font-size: 11px;
              padding-right: 30px;
            }
          }
          
          .box-price{
            font-size: 20px;
            color: $gray;
            font-family: 'Monrope-800';
            padding-right: 125px;
            @include md{
              font-size: 10px;
              padding-right: 80px;
            }
            @include sm{
              font-size: 10px;
              padding-right: 9px;
            }
          }
          .sale{
            font-size: 20px;
            color: $brand_color;
            font-family: 'Monrope-800';
            @include md{
              font-size: 10px;
            }
            
          }
        }
      }
    }
  }

}