<template>
  <div class="auto">
    <div class="container">
      <div class="wrapper">
        <div class="text-content">
          <TheTitle :centernone="(centernone = true)" title="Автопарк " />
          <p class="subtitle">
            Компания «Доминант» предлагает заказать грузовой транспорт в городе
            Екатеринбург, по низкой цене для переезда и прочих потребностей.
          </p>

          <div class="btns">
            <TheButton>Заказать машину</TheButton>
          </div>
        </div>
        <div class="images">
          <img :src="img" alt="img" />
        </div>
      </div>
      <div class="card-wrapper">
        <CardProduct
         v-for="card in auto_array" 
         :key="card"
         :title="card.title" 
         :image="card.img"
         :subtitle="card.subtitle"
         :price="card.price"
        @click="$router.push({ name: 'Post', params: { id: card.id } })"
        />
      </div>
    </div>
  </div>
</template>

<script>
import TheTitle from "../layouts/TheTitle.vue";
import TheButton from "../layouts/TheButton.vue";
import CardProduct from "../components/cardProduct.vue";
import auto_arrays from '../automobile_array.js'
export default {
  data() {
    return {
      img: require("../images/auto-main.png"),
      product: require("../images/product/image 71.png"),
      auto_array:auto_arrays
    };
  },
  components: {
    TheTitle,
    TheButton,
    CardProduct,
  },
};
</script>

<style lang="scss" scoped>
@import "./stylerouter/automobile.scss";
</style>