<template>
  <div class="container">
    <TheTitle :centernone="true" title="Контакты"/>
    <p class="subtitle">{{ subtitle }}</p>
    <div class="wrapper">
      <div class="item">
        <i class="fa-solid fa-phone"></i>
        <h4 class="item-title">+7 (995) 999-50-38</h4>
      </div>
        <div class="item">
        <i class="fa-solid fa-envelope"></i>
        <h4 class="item-title">info@dominant24.ru</h4>
      </div>
        <div class="item">
        <i class="fa-solid fa-clock"></i>
        <h4 class="item-title">Круглосуточно и без выходных</h4>
      </div>
    </div>
    <TheTitle :centernone="true" title="Адреса наших филиалов"/>
    
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37494223.23909491!2d103.00000000000001!3d55.000000000000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x453c569a896724fb%3A0x1409fdf86611f613!2z0KDQvtGB0YHQuNGP!5e0!3m2!1sru!2s!4v1647519242060!5m2!1sru!2s" loading="lazy"></iframe>
    </div>
  </div>
</template>

<script>
import TheTitle from '../layouts/TheTitle.vue'
export default {
  components:{ TheTitle },
  data(){
    return{
      subtitle:'Наши менеджеры проконсультируют вас по всем вопросам и предложат самую выгодную цену услуги. Звоните нам в любое время или оставьте заявку на сайте, заполнив форму обратной связи. Мы свяжемся с вами для консультации в течение минуты.',
    }
  }
  
}
</script>

<style lang="scss" scoped>
@import './stylerouter/contact.scss';
</style>