<template>
  <div class="container">
    <TheTitle :centernone="true" title="Вакансии" />
    <p class="subtitle">{{ sub }}</p>
    <div class="btns">
      <TheButton>Отправить резюме</TheButton>
      <div class="btn-icon">
        <p class="btn-sub">Напишите нам в вотсапп</p>
      <i class="fa-brands fa-whatsapp"></i>
      </div>
    </div>
    <div class="wrapper">
      <div class="item-wrap" v-for="item in jobs_array" :key="item.title">
        <div class="top-text">
          <h3 class="title">{{ item.title }}</h3>
          <h4 class="price">{{ item.price }}</h4>
        </div>
        <div class="item-btns">
          <TheButton :light="true">Описание</TheButton>
        </div>
        <p class="item-subtitle">{{ item.subtitle }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import TheTitle from "../layouts/TheTitle.vue";
import TheButton from "../layouts/TheButton.vue";
export default {
  components: { TheTitle, TheButton },
  data() {
    return {
      sub:'Компания «Доминант» приглашает на подработки грузчиков и разнорабочих.',
      jobs_array: [
        {
          title: "Грузчик г. Москва",
          price: "от 2500 / смена",
          subtitle: `Работа в Зонах приемки / отгрузки товаров. Сортировка ,пересчет, маркировка, раскладка, отгрузка товаров.
          Опыт работы на складах приветствуется. Отсутствие противопоказаний к активной, подвижной работе. Аккуратность, внимательность, ответственность, дисциплинированность, активность, обучаемость.`,
        },
        {
          title: "Грузчик г. Омск",
          price: "от 2100 / смена",
          subtitle: `Работа в Зонах приемки / отгрузки товаров. Сортировка ,пересчет, маркировка, раскладка, отгрузка товаров.
          Опыт работы на складах приветствуется. Отсутствие противопоказаний к активной, подвижной работе. Аккуратность, внимательность, ответственность, дисциплинированность, активность, обучаемость.`,
        },
        {
          title: "Водитель на Газель",
          price: "от 2700 / смена",
          subtitle: `Работа в Зонах приемки / отгрузки товаров. Сортировка ,пересчет, маркировка, раскладка, отгрузка товаров.
          Опыт работы на складах приветствуется. Отсутствие противопоказаний к активной, подвижной работе. Аккуратность, внимательность, ответственность, дисциплинированность, активность, обучаемость.`,
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "./stylerouter/jobs.scss";
</style>