<template>
  <div class="container">
    <TheTitle :title="title" />
    <div class="card-news">
      <img :src="post.img" alt="" />
      <div class="text">
        <h3 class="title">{{ post.title }}</h3>
        <p class="subtitle">{{ post.subtitle }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import blog from "../news_array";
import TheTitle from "../layouts/TheTitle.vue";
export default {
  data() {
    return {
      blogs: blog,
      postId: this.$route.params.id,
      title: "News Blog",
    };
  },
  computed: {
    post() {
      return this.blogs.find((post) => post.id === this.postId);
    },
  },
  components: {
    TheTitle,
  },
};
</script>

<style lang="scss" scoped>
@import "../styles/components/_vars.scss";
@import "../styles/components/_mixins.scss";
.container {
  .card-news {
    display: flex;
    margin: 0 auto;
    gap: 30px;
    margin: 40px 0;
    // Media
    @include lg {
      flex-wrap: wrap;
      justify-content: center;
    }

    img {
      width: 553px;
      height: 278px;

      // Media
      @include media(690px) {
        width: 440px;
        height: 228px;
      }
      @include media(500px) {
        width: 100%;
        height: 200px;
      }
      @include media(405px) {
        width: 100%;
        height: 185px;
      }
    }

    .text {
      .title {
        font-size: 30px;
        margin-bottom: 15px;

        // Media
        @include md {
          font-size: 25px;
        }
        @include sm {
          font-size: 20px;
        }
      }

      .subtitle {
        font-size: 20px;
        @include md {
          font-size: 18px;
        }
        @include sm {
          font-size: 15px;
        }
      }
    }
  }
}
</style>