<template>
 <div class="news">
   <div class="container">
     <TheTitle :centernone="true" title="Новости"/>
     <div class="wrapper">
       <CardNews 
         v-for="card in news_array" 
         :key="card.title"
         :title="card.title" 
         :img="card.img"
         :subtitle="card.subtitle"
         :data="card.data"
         :number="card.view"
         @click="$router.push({ name: 'Newspost', params: { id: card.id } })"
         />
     </div>
   </div>
 </div>
</template>

<script>
import TheTitle from '../layouts/TheTitle.vue'
import CardNews from '../components/cardNews.vue'
import news_arrays from '../news_array.js'
export default {
  data(){
    return{
      img:require('../images/news/news.png'),
      news_array:news_arrays
    }
  },
  components:{ TheTitle, CardNews },
}
</script>

<style lang="scss" scoped>
@import './stylerouter/news.scss';
</style>