<template>
  <div class="post-section">
    <TheTitle title="Blog page"/>
    <div class="container">
      <div class="card-block">
        <img :src="post.img" alt="" />
      <div class="text">
        <h3 class="title">{{ post.title }}</h3>
        <p class="subtitle">{{ post.subtitle }}</p>
        <TheButton>Покупка</TheButton>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import blog from "../automobile_array";
import TheButton from "../layouts/TheButton.vue";
import TheTitle from "../layouts/TheTitle.vue";
export default {
  data() {
    return {
      blogs: blog,
      postId: this.$route.params.id,
    };
  },
  computed: {
    post() {
      return this.blogs.find((post) => post.id === this.postId);
    },
  },
  components: {
    TheButton,
    TheTitle
  },
};
</script>

<style lang="scss" scoped>
@import "../styles/components/_vars.scss";
@import "../styles/components/_mixins.scss";
.post-section {
  .container{
    .card-block {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px 0px;
    // Media
    @include lg {
      flex-wrap: wrap;
      
    }

    img {
      height: 200px;
      // Media
      @include sm{
        height: 170px;
      }
      @include media(375px){
        height: 145px;
      }
    }

    .text {
      width: 500px;

      .title {
        font-size: 30px;

        // Media
        @include md {
          font-size: 25px;
        }
        @include sm {
          font-size: 20px;
        }
      }

      .subtitle {
        font-size: 20px;
        margin:15px 0;
        @include md {
          font-size: 18px;
        }
        @include sm {
          font-size: 15px;
        }
      }
    }
  }
  }
}
</style>