<template>
  <div class="price">
    <div class="container">
      <div class="wrapper">
        <div class="text-content">
          <TheTitle
            :centernone="(centernone = true)"
            title="Услуги грузчиков в городе Екатеринбурге"
          />
          <p class="subtitle">
            Услуги грузчиков в городе Екатеринбурге Рассчитать стоимость
          </p>

          <div class="btns">
            <TheButton>Оставить заявку</TheButton>
            <TheButton>Калькулятор</TheButton>
          </div>
        </div>
        <div class="images">
          <img :src="img" alt="img" />
        </div>
      </div>
      <div class="item">
        <div class="cards">
          <div
            class="card"
            v-for="(card, idx) in textArray"
            :key="card.title"
            :class="{ active: idx === is_open_dropdown}"
            @click="is_open_dropdown = idx"
          >
            <div class="top-box" >
              <h3 class="title">{{ card.title }}</h3>
              <i class="fa-solid fa-circle-arrow-down"></i>
            </div>
            <ul>
              <li class="text">Переезд однокомнатной квартиры</li>
              <li class="text">Переезд однокомнатной квартиры</li>
              <li class="text">Переезд однокомнатной квартиры</li>
            </ul>
          </div>
        </div>
        <div class="item-box">
          <div class="text">
            <h3 class="text-title">Услуга</h3>
            <h3 class="text-title">Цена без акции</h3>
            <h3 class="text-title">Цена по акции</h3>
          </div>
          <div class="box-card" v-for="card in 5" :key="card">
            <h4 class="box-title">Грузчики для переезда</h4>
            <p class="box-price">от 350 ₽</p>
            <p class="sale">от 250 ₽</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TheTitle from "../layouts/TheTitle.vue";
import TheButton from "../layouts/TheButton.vue";
export default {
  data() {
    return {
      img: require("../images/priceimg.png"),
      is_open_dropdown: false,
      textArray: [
        {
          title: "Квартирный переезд",
        },
        {
          title: "Дачный переезд",
        },
        {
          title: "Офисный переезд",
        },
      ],
    };
  },
  components: {
    TheTitle,
    TheButton,
  },
  methods: {
    droppDownToggle() {
      // this.is_open_dropdown = !this.is_open_dropdown;
    },
  },
};
</script>
<style lang="scss" scoped>
@import "./stylerouter/price.scss";
</style>