<template>
  <div class="content">
    <div class="container">
      <div class="text-content">
      <TheTitle :centernone="centernone = true" title="Услуги грузчиков в городе Екатеринбурге"/>
      <p class="subtitle">Услуги грузчиков в городе Екатеринбурге
      Рассчитать стоимость</p>
      
      <div class="btns">
      <TheButton>Оставить заявку</TheButton>
      <TheButton>Калькулятор</TheButton>
    </div>
    </div>
    <div class="images">
      <img :src="img" alt="">
    </div>
    </div>
  </div>
</template>

<script>
import TheTitle from '@/layouts/TheTitle.vue'
import TheButton from '@/layouts/TheButton.vue'
export default {
  components:{
    TheTitle,
    TheButton
  },
  data(){
    return{
      img:require('@/images/main.png')
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../../../views/Home/styles/content.scss';
</style>