<template>
  <div class="cards">
    <div class="container">
      <TheTitle title="Услуги" />
      <div class="wrapper">
        <div class="item" v-for="item in 6" :key="item">
          <div class="images">
            <img :src="img" alt="icon" />
          </div>
          <h4 class="title">Квартирный переезд</h4>
          <p class="subtitle">
            Переезд двухкомнатной квартиры Сборка, разборка мебели из IKEA
            Смотреть все
          </p>
          <TheButton>от 250 ₽ / час</TheButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TheTitle from "../../../layouts/TheTitle.vue";
import TheButton from "../../../layouts/TheButton.vue";
export default {
  components: { TheTitle, TheButton },
  data() {
    return {
      img: require("../../../images/icon-1.png"),
    };
  },
};
</script>

<style lang="scss" scoped>
@import '../../../styles/components/_vars.scss';
@import '../../../styles/components/_mixins.scss';
.cards {
  padding: 40px 0;
  
  .container{
    .wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px 20px;
      margin-top: 50px;
      
      .item{
        width: 360px;
        text-align: center;
        background:#F4F6F8;
        border-radius: 8px;   
        padding: 40px 20px;
        transition: 0.3s background;
        // Media
        @include media(1151px){
          width: 290px;
        }
        &:hover{
          background: linear-gradient(225deg, #28C1D6 0%, #014DF5 100%);
          box-shadow: 0px 20px 60px rgba(9, 14, 24, 0.1);
          
          color: $white;
          
          .subtitle{
            color: $white;
          }
        }
        
        .images{
          width: 70px;
          height: 70px;
          background: $white;
          border-radius: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto 30px;
        }
        
        .title{
          font-size: 24px;
          font-family: 'Monrope-700';
        }
        .subtitle{
          margin: 11px 0 13px;
          font-size: 16px;
          color: $gray;
          line-height: 22px;
        }
      }
    }
  }
}
</style>