<template>
<div class="forms">
    <div class="container">
    <div class="wrapper">
      <div class="text-form">
        <img :src="img" alt="img" />
        <h3 class="title">
          Рассчитайте стоимость услуг грузчиков в городе Екатеринбурге
        </h3>
        <input type="text" placeholder="+7 9ххх ххх хх хх">
        <TheButton>Рассчитать</TheButton>
        <p class="subtitle">Отправляя форму Вы соглашаетесь с обработкой персональных данных и политикой конфеденциальности</p>
      </div>
      <div class="content-form">
        <div class="item-left">
          <div class="box">
            <h4 class="title">Количество грузчиков:</h4>
            <div class="input-box">
              <i class="fa-solid fa-person-dolly"></i>
              <input  type="number">
            </div>
          </div>
        </div>
        
        <div class="item-right"></div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import TheButton from '../../../layouts/TheButton.vue'
export default {
  data() {
    return {
      img: require("../../../images/titlelight.png"),
    };
  },
  components:{ TheButton }
};
</script>

<style lang="scss" scoped>
.forms{
  padding: 60px 0;
  
}
</style>