<template>
  <TheTitle title="Почему выбирают DOMINANT" />
  <div class="container">
    <div class="wrapper">
      <div class="item" v-for="item in 4" :key="item">
        <div class="images">
          <img :src="img" alt="img" />
        </div>
        <h4 class="title">Приезжаем вовремя</h4>
      </div>
    </div>
  </div>
</template>

<script>
import TheTitle from "../../../layouts/TheTitle.vue";
export default {
  components: { TheTitle },
  data() {
    return {
      img: require("../../../images/glass.png"),
    };
  },
};
</script>

<style lang="scss" scoped>
@import "../../../styles/components/_vars.scss";
@import "../../../styles/components/_mixins.scss";
.container {
  padding: 80px 0 30px;
  @include lg{
    padding: 40px 0 15px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 20px;
    // Media
    @include media(1151px) {
      justify-content: center;
    }
    @include sm {
      gap: 10px 10px;
    }
    .item {
      padding-top: 26px;
      width: 260px;
      text-align: center;
      background: #f4f6f8;
      border-radius: 10px;
      // Media
      @include sm {
        padding-top: 10px;
        width: 170px;
      }

      .images {
        width: 80px;
        height: 80px;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin: 0 auto 26px;
        @include sm {
          width: 60px;
          height: 60px;
        }
        img{
          // Media
          @include sm{
            width: 30px;
            height: 30px;
          }
        }
      }

      .title {
        padding: 36px 35px 50px 35px;
        border-top: 1px dashed #dedede;
        font-size: 22px;
        position: relative;
        // Media
        @include sm {
          padding: 20px 20px;
          width: 170px;
          font-size: 15px;
          
        }

        &::before {
          position: absolute;
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50px;
          background: $brand_color;
          top: -6px;
          left: 124px;
          @include sm{
            left: 80px;
          }
        }
      }
    }
  }
}
</style>