<template>
  <div class="prices">
    <div class="container">
      <h3 class="title">Цены</h3>
      <div class="flex">
        <div class="wrap">
          <div class="item" v-for="item in 5" :key="item">
            <h4 class="title-item">Грузчики для переезда</h4>
            <h3 class="price">от 250 ₽</h3>
            <TheTitle light="true">Заказать</TheTitle>
          </div>
        </div>
        <div class="wrap">
          <div class="item" v-for="item in 5" :key="item">
            <h4 class="title-item">Грузчики для переезда</h4>
            <h3 class="price">от 250 ₽</h3>
            <TheTitle light="true">Заказать</TheTitle>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TheTitle from "../../../layouts/TheButton.vue";
export default {
  components: { TheTitle },
};
</script>

<style lang="scss" scoped>
@import "../../../styles/components/_vars.scss";
@import "../../../styles/components/_mixins.scss";
.prices {
  .container {
    .title {
      font-size: 46px;
      font-family: "Monrope-800";
      margin: 25px 0 40px;
      // Media
      @include md{
        font-size: 30px;
        text-align: center;
      }
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      .wrap {
        .item {
          display: flex;
          align-items: center;
          padding: 20px;
          background: #f5f7fe;
          border-radius: 15px;
          width: 100%;
          max-width: 549px;
          margin-bottom: 15px;
          @include media(1167px) {
            max-width: 330px;
            gap: 10px;
          }
          @include sm{
            max-width: 345px;
            padding: 10px;
          }
          .title-item {
            font-size: 15px;
          }

          .price {
            font-size: 20px;
            color: $brand_color;
            padding: 0px 86px 0px 56px;
            @include media(1167px) {
              padding: 0;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
</style>