<template>
  <div class="product">
    <div class="container">
      <div class="wrapper">
        <img :src="img" class="images" alt="images">
        <div class="item">
          <TheTittle title="Заголовок для текстового блока" :centernone="true"/>
          <p class="sub">Услуги грузчиков необходимы при переезде, осуществлении строительных и ремонтных работ. В нашей компании «Доминант» вы можете заказать услуги грузчика недорого в любое удобное для вас время. Работаем аккуратно с хрупкими грузами, которые требуют повышенной осторожности. 
          </p>
          <h4>Заказать услуги грузчиков в Омске и быть уверенным в качественной работе можно по телефону +7(995) 999-50-38.</h4>
          <TheButton :light="true">Читать далее</TheButton>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TheTittle from '../../../layouts/TheTitle.vue'
import TheButton from '../../../layouts/TheButton.vue'
export default {
  data(){
    return{
      img:require('../../../images/product.png')
    }
  },
  components:{ TheTittle, TheButton }
}
</script>

<style lang="scss" scoped>
@import '../styles/product.scss';
</style>