<template>
  <div class="text">
    <div class="container">
      <TheTitle title="Мы поможем Вам" />
      <div class="wrapper">
        <div class="item" v-for="text in textArray" :key="text.title">
          <img :src="img" alt="users" />
          <div class="text-item">
            <h4 class="title">{{ text.title }}</h4>
            <p class="subtitle">
              наши опытные грузчики приедут во-время, упакуют аккуратно все
              вещи, бережно погрузят, перевезут, распакуют и расставят по местам
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TheTitle from '../../../layouts/TheTitle.vue'
export default {
  data(){
    return{
      img:require('../../../images/users.png'),
        textArray:[
          {
            title:'Сэкономить время на переезд'
          },
          {
            title:'Тут Анастасия даст текст позже'
          },
          {
            title:'Сэкономить время на переезд'
          },
          {
            title:'Сэкономить время на переезд'
          },
        ]
    }
  },
  components:{ TheTitle },
}
</script>

<style lang="scss" scoped>
@import "../../../styles/components/_vars.scss";
@import "../../../styles/components/_mixins.scss";
.text{
  margin: 70px 0;
  // Media
  @include lg{
    margin: 40px 0;
  }
  .container{
    .wrapper{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px 60px;
        @include xl {
          gap: 25px 25px;
        }
      .item{
        width: 100%;
        max-width: 530px;
        padding: 20px;
        display: flex;
        gap: 20px;
        background: #F4F6F8;
        border-radius: 10px;
        // Media
        @include xl {
          max-width: 410px;
        }
        @include lg {
          max-width: 290px;
        }
        img{
          width: 72px;
          height: 72px;
          @include lg {
          width: 50px;
          height: 50px;
        }
        }
        
        .text-item{
          .title{
            font-size: 18px;
            padding-bottom: 5px;
             @include lg{
              font-size: 14px;
              
            }
            @include sm{
              font-size: 12px;
              
            }
          }
          .subtitle{
            font-size: 14px;
            color: $gray;
            line-height: 24px;
            // Media
            @include lg{
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
      }
    }
  }
}
</style>