<template>
  <div class="card-news">
    <div class="images">
      <img :src="img" alt="card-product" />
    </div>
    <div class="flex">
      <h2 class="data">{{ data }}</h2>
      <div class="view">
        <h2 class="number">{{ number }}</h2>
        <i class="fa-light fa-eye"></i>
      </div>
    </div>
    <h3 class="card-title">{{ title }}</h3>
    <p class="subtitle">{{ subtitle }}</p>
  </div>
</template>

<script>
import TheButton from '../layouts/TheButton.vue'
export default {
  components:{
    TheButton
  },
  props:{
    img:String,
    title:String,
    subtitle:String,
    data:String,
    view:String,
    number:String
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/components/_vars.scss";
@import "../styles/components/_mixins.scss";
.card-news {
  max-width: 360px;
  // Media
  @include xl {
    max-width: 290px;
  }
  @include md {
    max-width: 245px;
  }
  @include sm {
    max-width: 295px;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px 0 0;
    font-family: "Monrope-800";

    .data {
      font-size: 14px;
      color: $brand_color;
    }

    .view {
      color: $gray;
      display: flex;
      align-items: center;
      gap: 8px;
      i {
        font-size: 18px;
      }

      .number {
        font-size: 14px;
      }
    }
  }

  .card-title {
    font-size: 20px;
    padding: 15px 0 10px;
    font-family: "Monrope-800";
  }

  .subtitle {
    font-size: 14px;
  }
}
</style>