<template>
  <div class="card">
     <div class="images">
      <img :src="image" alt="card-product" />
    </div>
    <h3 class="card-title">{{ title }}</h3>
    <h4 class="price">{{ price }}</h4>
    <p class="subtitle">{{ subtitle }}</p>
    <div class="btns">
      <TheButton :light="true">Заказать</TheButton>
    </div>
  </div>
</template>

<script>
import TheButton from '../layouts/TheButton.vue'
export default {
   props:{
    image:String,
    title:String,
    subtitle:String,
    price:String, 
  },
  components:{
    TheButton 
  }
}
</script>

<style lang="scss">
@import '../styles/components/_vars.scss';
@import '../styles/components/_mixins.scss';
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px;
  max-width: 263px;
  text-align: center;
  border-radius: 8px;
  background: #e6edfe73;
  // Media
  @include md{
    max-width: 244px;
  }
  @include sm{
    max-width: 315px;
  }
  
  .images{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
  }
  
  .card-title{
    font-size: 16px;
    font-family: 'Monrope-800';
    padding-top: 5px;
  }
  .price{
    color: $brand_color;
    font-size: 18px;
    padding: 8px 0;
  }
  .subtitle{
    font-size: 14px;
    color: $gray;
    padding-bottom: 20px;
  }
  .btns{
    width: 150px;
    margin: 0 auto;
  }
}
</style>