@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';

.content {
  padding: 40px 0;

  // Media
  @include md {
    padding: 10px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;

    // Media
    @include lg {
      flex-wrap: wrap;
    }

    .text-content {
      width: 100%;
      max-width: 635px;

      // Media
      @include lg {
        order: 1;
      }

      .subtitle {
        font-size: 24px;
        color: $gray;
        font-family: 'Monrope';
        padding: 40px 0 100px;

        // Media
        @include lg {
          font-size: 20px;
          padding: 20px 0 50px;
        }

        @include sm {
          font-size: 12px;
          padding: 17px 0 33px;
        }
      }

      .btns {
        display: flex;
        align-items: center;
        gap: 10px;

        // Media
        @include md {
          justify-content: center;
        }
      }
    }

    .images {

      // Media
      @include lg {
        display: none;
      }

      @include md {
        display: block;
        margin: 0 auto;
      }

      img {
        width: 480px;
        height: 440px;

        @include sm {
          width: 330.42px;
          height: 295.21px;
        }
      }
    }
  }
}