@import '@/styles/components/_vars.scss';
@import '@/styles/components/_mixins.scss';

.product {
  .container {
    .wrapper {
      display: flex;
      align-items: center;
      gap: 30px;

      // Meida
      @include lg {
        flex-wrap: wrap;
        justify-content: center;
      }

      .images {
        width: 530px;
        height: 425px;

        // Media
        @include media(545px) {
          width: 370px;
          height: 302px;
        }
      }
      
      .item {
        .sub {
          font-size: 16px;
          color: $gray;
          padding: 15px 0;
          line-height: 21px;

          // Media
          @include sm {
            font-size: 15px;
          }
        }

        h4 {
          font-size: 16px;
          padding-bottom: 30px;

          // Media
          @include md {
            font-size: 15px;
            padding-bottom: 15px;
          }
        }
      }
    }
  }
}