<template>
  <div class="sections">
    <Navbar />
    <router-view v-slot="{ Component }">
      <transition name="fade">
        <component :is="Component" />
      </transition>
    </router-view>
    <SendMail />
    <Footer />
    <ToTop/>
  </div>
</template>
<script>
import Navbar from "./layouts/Navbar.vue";
import Footer from "./layouts/Footer.vue";
import SendMail from "./layouts/SendMail.vue";
import ToTop from './layouts/ToTop.vue'
export default {
  components: { Navbar, Footer, SendMail, ToTop },
};
</script>
<style lang="scss">
@import "./fonts/_fonts.scss";
@import "./styles/main.scss";

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}


.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
