<template>
  <footer class="footer">
    <div class="container">
      <div class="item">
        <img :src="logo" alt="" />
        <div class="box">
          <i class="fa-solid fa-phone-flip"></i>
          <h4 class="number">8 800 000 00 00</h4>
        </div>
        <div class="box">
          <i class="fa-solid fa-envelope"></i>
          <a href="#" class="link">info@dominant24.ru</a>
        </div>
        <div class="box">
          <i class="fa-solid fa-comment-dots"></i>
          <a href="#" class="link">Оставить отзыв</a>
        </div>
        <div class="box">
          <i class="fa-solid fa-clock"></i>
          <a href="#" class="link">Работаем круглосуточно</a>
        </div>
        <div class="box">
          <a href="#" class="link">Напишите нам:</a>
          <i class="fa-brands fa-telegram"></i>
          <i class="fa-brands fa-whatsapp-square"></i>
        </div>
      </div>
      <div class="item">
        <h3 class="title">УСЛУГИ</h3>
        <p class="subtitle">О компании Отзывы Контакты Вакансии Новости</p>
      </div>
      <div class="item">
        <p class="subtitle">
          Грузчики на час Автопарк Квартирный переезд Дачный переезд Офисный
          переезд
        </p>
      </div>
      <div class="item">
        <p class="subtitle">
          Такелаж Вывоз мусора Уборка снега Перевозка вещей Переезд с грузчиками
        </p>
      </div>
      <div class="item">
        <h3 class="title">Способы оплаты:</h3>
        <p class="subtitle">Наличный Безгаличный с НДС Безналичный без</p>
        <div class="box icons">
          <p class="subtitle">Мы в соцсетях:</p>
          <div class="icon">
            <i class="fa-brands fa-instagram-square"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-vk"></i>
            <i class="fa-brands fa-facebook-square"></i>
          </div>
        </div>
      </div>
      <div class="item">
        <input type="text" placeholder="+7 9ххх ххх хх хх">
        <TheButton>Заказать звонок</TheButton>
      </div>
    </div>
    <div class="bottom-line">
      <div class="container">
        <p class="text">
          Информация на данном сайте носит информационный характер и не является
          офертой. ст. 437 ч. 1 ГК РФ. Все права защищены. &copy; Доминант
          2012-2021.
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
import TheButton from './TheButton.vue'
export default {
  data() {
    return {
      logo: require("../images/logo (2).png"),
    };
  },
  components:{
    TheButton
  }
};
</script>

<style lang="scss" scoped>
@import "./styles/footer.scss";
</style>