<template>
  <header class="header" :class="{ active: is_navbar_active }">
    <div class="container">
      <nav class="navbar">
        <div class="navbar-top">
          <div class="logo">
            <img :src="logo" alt="logo-images" @click="$router.push('/')"/>
            <div class="text">
              <p class="subtitle">Услуги грузчиков, скидки, кэшбэк</p>
            </div>
          </div>
          <div
            class="mobile-menu"
            v-if="is_mobile"
            :class="{ active: is_menu_open }"
          >
            <ul>
              <li v-for="item in menu" :key="item.text" @click="toggleMenu">
                 <router-link class="link" :to="{ name: item.link }">
								{{ item.text }}
							</router-link>
              </li>
            </ul>
          </div>
          <div class="number">
            <h3 class="number">8 800-321-56-78</h3> 
          </div>
          <div class="contentt">
            <div class="item" v-if="!is_mobile">
              <h3 class="title">Екатеринбург</h3>
              <p class="subtitle">Выбрать город</p>
            </div>
            <div class="item" v-if="!is_mobile">
              <h3 class="title">8 800-321-56-78</h3>
              <p class="subtitle">Работаем круглосуточно,</p>
            </div>
            <div class="social">
              <img :src="tele" alt="icon" />
              <img :src="whats" alt="icon" />
            </div>
            <div
              class="burger"
              v-if="is_mobile"
              @click="toggleMenu"
            >
              <BurgerBtn :is_active="is_menu_open"></BurgerBtn>
            </div>
            <TheButton v-if="!is_mobile">Заказать звонок</TheButton>
          </div>
        </div>
        <div class="navbar-bottom">
          <ul class="menu" v-if="!is_mobile">
            <li v-for="item in menu" :key="item.text">
              <router-link class="link" :to="{ name: item.link }">
								{{ item.text }}
							</router-link>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
</template>

<script>
import TheButton from "./TheButton.vue";
import menu_array from "../menu_array.js";
import BurgerBtn from "./BurgerBtn.vue";
export default {
  data() {
    return {
      logo: require("../images/logo (2).png"),
      tele: require("../images/telegram.png"),
      whats: require("../images/whatsapp.png"),
      menu: menu_array,
      is_menu_open: false,
      is_mobile: false,
      breakpoint_width: 975,
      is_navbar_active: false,
    };
  },
  methods: {
    toggleDropdown() {
      this.is_dropdown_open = !this.is_dropdown_open;
    },
    checkWindowWidth() {
      const width = window.innerWidth;
      if (width < this.breakpoint_width) {
        this.is_mobile = true;
        return;
      }
      this.is_mobile = false;
      this.is_menu_open = false;
    },
    toggleMenu(){
      this.is_menu_open = !this.is_menu_open
      
      this.is_menu_open
        ? document.body.classList.add('hidden')
        : document.body.classList.remove('hidden')
    }
  },
  mounted() {
    this.checkWindowWidth();
    window.addEventListener("resize", this.checkWindowWidth);
    window.addEventListener("scroll", () => {
      window.pageYOffset > 0
        ? (this.is_navbar_active = true)
        : (this.is_navbar_active = false);
    });
  },
  components: { TheButton, BurgerBtn },
};
</script>

<style lang="scss" scoped>
@import "../layouts/styles/navbar.scss";
</style>