<template>
  <div class="send">
    <div class="container">
      <div class="send-content">
        <div class="text-content">
          <div class="text">
            <h3 class="title">Бесплатная консультация ЗА 30 СЕКУНД</h3>
            <img :src="img" alt="" />
          </div>
          <p class="subtitle">
            Позвоните нам прямо сейчас и мы ответим на все Ваши вопросы
          </p>
          <div class="item">
            <i class="fa-solid fa-phone"></i>
            <h3 class="text">+7 (995) 999-50-38</h3>
          </div>
        </div>
        <form class="form">
          <input type="text" placeholder="+7 9ххх ххх хх хх" />
          <TheTitle :light="true">Отправить</TheTitle>
          <p class="subtitle">
            Отправляя форму Вы соглашаетесь с обработкой персональных данных и
            политикой конфеденциальности
          </p>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import TheTitle from "./TheButton.vue";
export default {
  data() {
    return {
      img: require("../images/titlelight.png"),
    };
  },
  components: { TheTitle },
};
</script>

<style lang="scss" scoped>
@import "../styles/components/_vars.scss";
@import "../styles/components/_mixins.scss";

.send {
  .container {
    // Media
    @include sm {
      padding: 30px 25px;
    }
    .send-content {
      background: $brand_color;
      padding: 60px 55px;
      color: $white;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      // Media
      @include md {
        flex-wrap: wrap;
        padding: 40px 35px;
      }
      @include sm {
        text-align: center;
      }

      .text-content {
        width: 100%;
        max-width: 661px;

        .text {
          font-size: 18px;
          // Media
          @include sm {
            text-align: center;
          }
          .title {
            font-size: 30px;
            // Media
            @include lg {
              font-size: 20px;
            }
          }
        }

        .subtitle {
          font-size: 20px;
          margin-bottom: 20px;
          font-family: 'Monrope-700';
          // Media
          @include lg {
            font-size: 15px;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 13px;
          @include sm {
            justify-content: center;
          }

          i {
            font-size: 19px;
            // Media
            @include lg {
              font-size: 15px;
            }
          }

          .number {
            font-size: 25px;
            // Media
            @include lg {
              font-size: 20px;
            }
            @include sm {
              font-size: 18px;
            }
          }
        }
      }

      .form {
        width: 100%;
        max-width: 456px;
        display: flex;
        flex-direction: column;

        input {
          padding: 20px;
          background: #3775ff;
          border-radius: 6px;
          border: none;
          color: $white;
          font-size: 18px;
          margin-bottom: 23px;
          // Media
          @include lg {
            padding: 15px;
          }
          @include sm {
            font-size: 15px;
          }

          &::placeholder {
            color: $white;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
        }

        .subtitle {
          margin-top: 32px;
          font-size: 12px;
          // Media
          @include lg {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
</style>