<template>
  <button class="the-btn" :class="{ light: light }">
    <slot/>
  </button>
</template>

<script>
export default {
 props:{
  light:Boolean
 }
}
</script>

<style lang="scss" scoped>
@import '../styles/components/_vars.scss';
@import '../styles/components/_mixins.scss';
.the-btn{
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 14px;
  color: $white;
  background: $brand_color;
  font-family: 'Monrope-700', sans-serif;
  transition: 0.3s;
  border: 1px solid $brand_color;
  // Media
  @include sm{
    font-size: 12px;
  }
  &:hover{
    
    background: $white;
    color: $dark;
    
  }
  &.light{
    background: $white;
    padding: 8px 20px;
    color: $dark;
    border: 1px solid $brand_color;
    
    &:hover{
      background: $brand_color;
      color: $white;
    }
  }
}
</style>