<template>
  <div class="text" :class="{ centernone: centernone }">
    <img :src="img_title_line" alt="title-line" />
    <h3>{{ title }}</h3>
  </div>
</template>

<script>
export default {
  data() {
    return {
      img_title_line: require("../images/titleline.png"),
    };
  },
  props: {
    title: {
      type: String,
      default: () => "Title",
    },
    centernone: Boolean,
  },
};
</script>

<style lang="scss" scoped>
@import '../styles/components/_vars.scss';
@import '../styles/components/_mixins.scss';
.text{
  width: 100%;
  text-align: center;
  
  &.centernone{
    text-align: left;
   
  }
  
  img{
    @include sm{
      width: 53.19px;
      height: 12.64px;
    }
  }
  
  h3{
    font-size: 45px;
    font-weight: 800;
    font-family: 'Monrope-800';
    color: $dark;
    margin-bottom: 10px;
    // Media
    @include lg{
      font-size: 35px;
    }
    @include sm{
      font-size: 20px;
      margin-bottom: 0;
    }
  }
}
</style>