<template>
  <div class="to-top" @click="toTop" ref="toTop">
    <i class="fas fa-arrow-up"></i>
  </div>
</template>

<script>
export default {
  methods:{
    toTop(){
      scrollTo({
        top:0,
        behavior:'smooth'
      })
    }
  },
  mounted(){
    window.addEventListener('scroll', e => {
      const y = pageYOffset
      y > 1200
        ? this.$refs.toTop.classList.remove('scaled')
        : this.$refs.toTop.classList.add('scaled')
    })
  }
}
</script>

<style lang="scss">
@import '../styles/components/_vars.scss';
@import '../styles/components/_mixins.scss';
.to-top{
  position: fixed;
  right: 50px;
  bottom: 50px;
  border-radius: 20%;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba($color:#fff, $alpha: 0.5);
  backdrop-filter: blur(3px);
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: $brand_color;
  font-size: 25px;
  z-index: 9999;
  transition: 0.5s;
  
  &.scaled{
    transform: scale(0);
  }
}
</style>