@import '../../styles/components/_vars.scss';
@import '../../styles/components/mixins';

.footer{
  background: linear-gradient(180deg, rgba(230, 237, 254, 0) 0%, #E6EDFE 100%, #B3C9FF 100%);
  padding-top: 70px;
  .container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: 'Monrope-700';
    font-weight: 600;
    padding-bottom: 40px;
    border-bottom: 2px dashed #DEDEDE;
    flex-wrap: wrap;
    // Media
    @include lg{
      justify-content: center;
    }
    @include md{
      padding-bottom: 20px;
    }
    @include sm{
      justify-content: left;
    }
    
    .item{
      &:nth-child(1){
        width: 100%;
        max-width: 220px;
      }
      &:nth-child(2){
        .subtitle{
         width: 95px;
        }
        // Media
        @include lg{
          display: none;
        }
      }
      &:nth-child(3){
        .subtitle{
          width: 168px;
          margin-top: 43px;
        }
        // Media
        @include lg{
          display: none;
        }
      }
      &:nth-child(4){
        .subtitle{
          width: 178px;
          margin-top: 43px;
        }
        // Media
        @include lg{
          display: none;
        }
      }
      &:nth-child(5){
        .subtitle{
          width: 178px;
        }
      }
      &:nth-child(6){
        width: 100%;
        max-width: 300px;
        flex-direction: column;
        display: none;
        text-align: center;
        
        input{
          padding: 13px 13px;
          border-radius: 5px;
          margin-bottom: 10px;
          border: 1px solid $brand_color;
          font-family: 'Monrope-700';
          
          &::placeholder{
            color: $gray;
          }
        }
        
        // Media
        @include sm{
          display: flex;
          margin: 0 auto;
        }
      }
      img{
        margin-bottom: 20px;
        width: 135px;
        height: 24px;
      }
      
      .box{
        display: flex;
        align-items: center;
        gap: 9px;
        margin-bottom: 15px;
        
        i{
          font-size: 15px;
          color: $brand_color;
        }
        
        .link{
          font-size: 14px;
        }
      }
      
      .title{
        font-size: 18px;
        color: $brand_color;
        padding:6px 0 18px;
      }
      
      .subtitle{
        font-size: 16px;
        line-height: 34px;
      }
      
      .box{
        &.icons{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        
        .icon{
          display: flex;
          gap: 11px;
          text-align: left;
          
          i{
            font-size: 18px;
            color: $gray;
            cursor: pointer;
          }
        }
      }
    }
  }
  .bottom-line{
    .container{
      border: none;
      text-align: center;
      
      .text{
        padding: 25px 0;
        font-size: 14px;
        color: $gray;
      }
    }
  }
}