@import '../../styles/components/_vars.scss';
@import '../../styles/components/_mixins.scss';

.header{
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0;
  .container{
    .navbar{
      font-size: 14px;
      font-weight: 400;
      color: $gray;
      .navbar-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        
        .logo{
          display: flex;
          align-items: center;
          gap: 30px;
          
          img{
            @include sm{
              width: 135px;
              height: 24px;
            }
          }
          
          .text{
            width: 150px;
            height: 30px;
            padding-left: 15px;
            border-left: 1px solid $brand_color;
            @include sm{
              display: none;
            }
            
          }
        }
        
        .number{
          font-size: 14px;
          color: $dark;
          display: none;
          @include sm{
            display: block;
          }
        }
        
        .mobile-menu{
          position: fixed;
          left: 0;
          top: 0;
          width: 250px;
          height: 100%;
          min-height: 100vh;
          background: #efefef;
          padding: 30px 10px 40px 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          z-index: 999;
          transform: translateX(-100%);
          transition: transform 0.5s ease-in;
          
          &.active{
            transform: translateX(0);
          }
          
          ul{
            li{
              .link{
                padding: 10px 0;
              }
            }
          }
          
        }
        
        .contentt{
          display: flex;
          align-items: center;
          gap: 20px;
          
          .item{
            width: 170px;
            height: 30px;
            padding-left: 10px;
            border-left: 1px solid $brand_color;
            
            .title{
              color: $dark;
              font-size: 18px;
            }
            .subtitle{
              font-size: 12px;
              font-weight: 400;
            }
          }
          .social{
            display: flex;
            align-items: center;
            gap: 18px;
            @include sm{
              display: none;
            }
          }
        }
      }
      .navbar-bottom{
        .menu{
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 2px dashed #DEDEDE;
        
          li{
            .link{
              font-size: 15px;
              transition: 0.2s;
              padding-bottom: 15px;
              outline: none;
              color: $gray;
              &:hover{
                color: $dark;
              }
            }
          }
        }
      }
      
      
    }
  }
}